<div class="container mt-5" style="width: 700px;">
  <h1><%= t(:hello)%>, <%= current_user.email %>.</h1>
  <h3><%= t(:welcome)%></h3>
  <br>
  <%= link_to t(:logout), destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
